<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.FollowDao">
	
	<resultMap type="followDTO" id="followMap">
		<result column="from_username" property="fromUsername"/>
		<result column="to_email" property="toEmail"/>
	</resultMap>

	<insert id="insert" parameterType="followDTO">
		insert 
			into follow 
		    values
		    (#{fromUsername}, 
				(select email from user where username = #{toEmail}))
				<!-- toEmail이라 적었지만 실제 들어오는건 toUsername임
					그래서 들어오는 이름을 기준으로 먼저 이메일을 찾아서 인서트
					아래 삭제도 마찬가지 -->
	</insert>	
	<delete id="delete" parameterType="followDTO">
		delete 
			from follow 
		    where from_username = #{fromUsername}
		    and to_email = (select email from user where username=#{toEmail})
	</delete>
	
	<select id="selectByFollowIdAndUserId" parameterType="followDTO" resultMap="followMap">
		select *
			from follow
			where from_username = #{fromUsername}
			and to_email = #{toEmail}
	</select>
</mapper>