<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.LikeDao">

	<resultMap type="likeDTO" id="likeMap">
		<result column="user_id" property="userId"/>
		<result column="review_id" property="reviewId"/>
		<result column="board_id" property="boardId"/>
		<result column="reg_date" property="regDate"/>
	</resultMap>
	<insert id="insert" parameterType="likeDTO">
		insert
			into `like`
			values
			(#{userId},#{reviewId},#{boardId},now())
	</insert>
	
	<select id="selectByUserId" parameterType="int" resultMap="likeMap">
		select * 
			from `like`
			where user_id = #{userId} 
	</select>
	
	<delete id="delete" parameterType="likeDTO">
		delete
			from `like`
			where user_id = #{userId}
			and review_id = #{reviewId}
			and board_id = #{boardId}
	</delete>
</mapper>