<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.TagboardDao">

	<resultMap id="tagboardMap" type="tagboardDTO">

		<result column="id" property="id"/>
		<result column="board_id" property="boardId"/>
		<result column="tag_id" property="tagId"/>
	</resultMap>
	
	<insert id="insert" parameterType="tagboardDTO">
		insert 
			into tagboard
			values
			(0,#{boardId},#{tagId})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete
			from tagboard
			where id = #{id}
	</delete>
</mapper>