<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.ZzimVideoDao">
	<resultMap type="VideoResponseDTO" id="zzimMap">
		<result column="video_id" property="videoId"/>
		<result column="title" property="title"/>
		<result column="part" property="part"/>
	</resultMap>

	<insert id="insert" parameterType="zzimVideoDTO">
		insert into like_video
		values(0, #{videoId}, #{userId}, #{partId})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from like_video
		where id = #{id}
	</delete>
	
	<select id="selectAll" parameterType="int" resultMap="zzimMap">
		select l.video_id video_id, v.title title, p.name part
		from like_video l
		inner join video v
		on l.video_id = v.id
		inner join part p
		on l.part_id = p.id 
		where l.user_id = #{userId}
	</select>
</mapper>