<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.ZzimDao">
	<resultMap type="zzimDTO" id="zzimMap">
		<result column="video_id" property="videoID"/>
		<result column="user_id" property="userId"/>
		<result column="tag_id" property="tagId"/>
	</resultMap>
	
	<select id="selcetAll" resultMap="zzimMap" parameterType="int">
		select *
		from zzim
		where user_id = #{userId}
	</select>
	
	<insert id="insert" parameterType="zzimDTO">
		insert into zzim
		values (0, #{videoId}, #{userId}, #{tagId})
	</insert>
	
	<delete id="delete" parameterType="java.util.HashMap">
		delete 
		from zzim 
		where video_id = #{videoId}
		and user_id = #{userId}
	</delete>
	
</mapper>